/* ShoppingCart.css */
.shopping-cart-container {
  position: absolute;
  top: -300px; /* Kapalıyken ekrandan yukarıda olacak */
  right: 10px;
  width: 300px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out; /* top için geçiş efekti eklendi */
  transform: translateY(-100%);
  z-index: 1000; /* Diğer içeriğin önünde olması için yüksek bir z-index değeri */
}

.shopping-cart-container.open {
  transform: translateY(0%);
  top: 50px; /* Açıkken navbarın altında gözükecek */
}

.shopping-cart-content {
  padding: 10px;
}

.close {
  position: absolute;
  top: 5px;
  right: 10px;
  cursor: pointer;
}

.close:hover {
  color: red;
}
